.page {
  background: radial-gradient(
    circle,
    rgba(55, 51, 129, 1) 0%,
    rgba(38, 38, 175, 0.9570421918767507) 50%,
    rgba(24, 173, 203, 1) 100%
  );
  min-height: 100vh;
  padding-top: 2vh;
  box-sizing: border-box;
}

.slider__image-wraper {
  display: flex;
  width: 100%;
  transition: margin 0.3s ease;
}

.slider__image-block {
  width: 400%;
}

.slider__sliders {
  overflow: hidden;
}

.slider__image {
  width: 72vw;
  object-fit: cover;
  border-radius: 2%;
  transition: margin 0.3s ease;
}

.slider {
  display: flex;
  flex-direction: column;
  background: #25282a;
  margin: 0 auto;
  width: 80vw;
}

.slider__description {
  width: 100%;
  color: aliceblue;
  font-size: 1.3em;
}

.slider__descriptions {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

.slider__controls {
  display: flex;
  margin-left: 2em;
}

.slider__button {
  border: 1px #71abff solid;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  background-color: #71abff;
  margin: 0.4em;
  transition: all 0.3s ease;
}

input:checked + .slider__label .slider__button {
  background-color: transparent;
}

.slider__label:hover .slider__button {
  border-color: aliceblue;
  background-color: aliceblue;
}

.slider__label:hover {
  cursor: pointer;
}

.slider__wraper {
  display: flex;
  align-items: start;
}

.slider__description-wraper {
  display: flex;
  width: 400%;
}

.slider__container {
  margin: 4vw;
}

.slider__text-block {
  overflow: hidden;
  width: 100%;
}

.slider__text-block,
.slider__controls {
  margin-top: 1em;
}

#slide1:checked ~ .slider__wraper .slider__label[for="slide1"] .slider__button,
#slide2:checked ~ .slider__wraper .slider__label[for="slide2"] .slider__button,
#slide3:checked ~ .slider__wraper .slider__label[for="slide3"] .slider__button,
#slide4:checked ~ .slider__wraper .slider__label[for="slide4"] .slider__button {
  background-color: transparent;
}

#slide1:checked ~ .slider__wraper .slider__descriptions {
  margin-left: 0;
}
#slide2:checked ~ .slider__wraper .slider__descriptions {
  margin-left: -25%;
}
#slide3:checked ~ .slider__wraper .slider__descriptions {
  margin-left: -50%;
}
#slide4:checked ~ .slider__wraper .slider__descriptions {
  margin-left: -75%;
}

#slide1:checked ~ .slider__sliders .slider__image-wraper {
  margin-left: 0;
}
#slide2:checked ~ .slider__sliders .slider__image-wraper {
  margin-left: -25%;
}
#slide3:checked ~ .slider__sliders .slider__image-wraper {
  margin-left: -50%;
}
#slide4:checked ~ .slider__sliders .slider__image-wraper {
  margin-left: -75%;
}

@media (max-width: 620px) {
  .slider__wraper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .slider {
    width: 100vw;
  }

  .slider__image {
    width: 92vw;
  }

  .slider__controls {
    margin-left: 0;
  }
}

@media (min-width: 900px) {
  .slider {
    width: 44.7em;
  }

  .slider__image {
    width: 40.1em;
  }

  .slider__container {
    margin: 2.3em;
  }
}
